<media-gallery id="MediaGallery-{{ section.id }}" role="region" class="product__media-gallery{% if is_vertical %} product__media-gallery--vertical product__media-gallery--vertical-{{ section.settings.thumbnail_position }}{% endif %}" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}"{% if section.settings.auto_scroll_up_mobile %} data-scroll-up-mobile="true"{% endif %}{% if section.settings.disable_images_lightbox %} data-disable-lightbox="true"{% endif %}>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  <slider-component id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter por{% if is_vertical %} product__media-vertical{% endif %}">
    <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}" data-no-instant>
      <span>{{ "accessibility.skip_to_product_info" | t }}</span>
    </a>
    <ul id="Slider-Gallery-{{ section.id }}" class="product__media-list contains-media grid list-unstyled slider slider--mobile{% if section.settings.gallery_layout != 'stacked' and section.settings.gallery_layout != 'columns' %} slider--tablet slider--desktop slider--everywhere{% endif %}{% if is_vertical %} product__media-list--vertical{% endif %}" role="list">
      {%- if featured_media != null -%}
        <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="w100 product__media-item grid__item slider__slide is-active flex-wrap{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
          {%- assign media_position = 1 -%}
          {% render 'product-thumbnail', media: featured_media, media_count: media_count, position: media_position, desktop_layout: section.settings.gallery_layout, mobile_layout: section.settings.mobile_thumbnails, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: false, image_ratio: section.settings.image_ratio %}
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        {%- unless media.id == featured_media.id -%}
          <li id="Slide-{{ section.id }}-{{ media.id }}" class="w100 product__media-item grid__item slider__slide flex-wrap{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
              render 'product-thumbnail', media: media, media_count: media_count, position: media_position, desktop_layout: section.settings.gallery_layout, mobile_layout: section.settings.mobile_thumbnails, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: lazy_load, image_ratio: section.settings.image_ratio
            -%}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
    {%- if media_count > 1 -%}
      <div class="slider-buttons no-js-hidden{% if section.settings.gallery_layout == 'stacked' or section.settings.gallery_layout == 'thumbnail' or section.settings.gallery_layout == 'columns' %} medium-hide large-up-hide{% endif %} flex justify-center align-center">
        <button type="button" class="product__slider-button slider-button--large product__slider-button--prev slider-button flex flex-column justify-center align-center slider-button--prev tap-area-icon" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret-slider-prev', stroke_width: 2 %}</button>
        <button type="button" class="product__slider-button slider-button--large product__slider-button--next slider-button flex flex-column justify-center align-center slider-button--next tap-area-icon" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret-slider-next', stroke_width: 2 %}</button>
      </div>
    {%- endif -%}
  </slider-component>
  {%- if media_count > 1 and section.settings.gallery_layout contains 'thumbnail' or section.settings.mobile_thumbnails == 'show' -%}
    {%-liquid
      if is_vertical
        assign slider_tag = 'product-thumbnail-vertical-slider-component'
      else
        assign slider_tag = 'slider-component'
      endif
    -%}
    <{{ slider_tag }} id="GalleryThumbnails-{{ section.id }}" class="por thumbnail-slider slider-mobile-gutter flex align-center{% if section.settings.mobile_thumbnails != 'show' %} small-hide{% endif %}{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}{% if is_vertical %} thumbnail-slider--vertical flex-grow-1{% else %} element-small-margin-top{% endif %}{% if section.settings.gallery_layout contains 'slider' %} slider-component-desktop slider-component-tablet{% endif %} slider-component-mobile{% if section.settings.gallery_layout == 'stacked' or section.settings.gallery_layout == 'columns' %} medium-hide large-up-hide{% endif %}">
      <button type="button" class="product__slider-button--prev slider-button flex flex-column justify-center align-center slider-button--prev tap-area-icon{% if media_count <= 5 %} small-hide{% endif %}{% if section.settings.gallery_layout == 'stacked' or section.settings.gallery_layout == 'thumbnail' or section.settings.gallery_layout == 'columns' %} medium-hide large-up-hide{% else %}{% if media_count <= 4 %} medium-hide{% endif %}{% if media_count <= threshold_media_desktop %} large-up-hide{% endif %}{% endif %}" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="GalleryThumbnails-{{ section.id }}">{% render 'icon-caret-slider-prev' %}</button>
      <ul id="Slider-Thumbnails-{{ section.id }}" class="thumbnail-list list-unstyled slider slider--mobile flex align-center{% if section.settings.gallery_layout == 'thumbnail' %} thumbnail-list--grid-on-desktop{% endif %}{% if media_count <= 5 %} thumbnail-list--center-mobile{% endif %}{% unless is_vertical %}{% if media_count <= 4 %} thumbnail-list--center-tablet-up{% elsif media_count <= threshold_media_desktop %} thumbnail-list--center-large-up{% endif %}{% endunless %}{% if section.settings.gallery_layout contains 'thumbnail_slider' %} slider--tablet slider--desktop{% if is_vertical %} thumbnail-list--vertical{% endif %}{% endif %}">
        {%- if featured_media != null -%}
          {%- liquid
            capture media_index
              if featured_media.media_type == 'model'
                increment model_index
              elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                increment video_index
              elsif featured_media.media_type == 'image'
                increment image_index
              endif
            endcapture
            assign media_index = media_index | plus: 1
          -%}
          <li id="Slide-Thumbnails-{{ section.id }}-0" class="thumbnail-list__item slider__slide por{% if section.settings.hide_variants and variant_images contains featured_media.src %} thumbnail-list_item--variant{% endif %}" data-target="{{ section.id }}-{{ featured_media.id }}" data-media-position="{{ media_index }}">
            {%- if featured_media.media_type == 'model' -%}
              <span class="thumbnail__badge" aria-hidden="true">
                {%- render 'icon-3d-model' -%}
              </span>
            {%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}
              <span class="thumbnail__badge" aria-hidden="true">
                {%- render 'icon-play' -%}
              </span>
            {%- endif -%}
            <button class="w100 h100 thumbnail global-media-settings--small media {% if section.settings.image_ratio == 'adapt' %}ratio{% else %}media--{{ section.settings.image_ratio }}{% endif %} {% if featured_media.preview_image.aspect_ratio > 1 %}thumbnail--wide{% else %}thumbnail--narrow{% endif %}"
              aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
              aria-current="true"
              aria-controls="GalleryViewer-{{ section.id }}"
              aria-describedby="Thumbnail-{{ section.id }}-0"
              {% if section.settings.image_ratio == 'adapt' %} style="--ratio-percent:{{ 1 | divided_by: featured_media.preview_image.aspect_ratio | times: 100 }}%;"{% endif %}
            >
              <img id="Thumbnail-{{ section.id }}-0" srcset="{% if featured_media.preview_image.width >= 59 %}{{ featured_media.preview_image | image_url: width: 59 }} 59w,{% endif %}
              {% if featured_media.preview_image.width >= 118 %}{{ featured_media.preview_image | image_url: width: 118 }} 118w,{% endif %}
              {% if featured_media.preview_image.width >= 84 %}{{ featured_media.preview_image | image_url: width: 84 }} 84w,{% endif %}
              {% if featured_media.preview_image.width >= 168 %}{{ featured_media.preview_image | image_url: width: 168 }} 168w,{% endif %}
              {% if featured_media.preview_image.width >= 130 %}{{ featured_media.preview_image | image_url: width: 130 }} 130w,{% endif %}
              {% if featured_media.preview_image.width >= 260 %}{{ featured_media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                src="{{ featured_media | image_url: width: 416 }}"
                sizes="(min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4), (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4), (min-width: 750px) calc((100vw - 15rem) / 8), calc((100vw - 14rem) / 3)"
                alt="{{ featured_media.alt | escape }}"
                height="208"
                width="208"
                loading="lazy"
              >
            </button>
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == featured_media.id -%}
            {%- liquid
              capture media_index
                if media.media_type == 'model'
                  increment model_index
                elsif media.media_type == 'video' or media.media_type == 'external_video'
                  increment video_index
                elsif media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}
            <li id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}" class="thumbnail-list__item slider__slide por{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %}" data-target="{{ section.id }}-{{ media.id }}"  data-media-position="{{ media_index }}">
              {%- if media.media_type == 'model' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-3d-model' -%}
                </span>
              {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                <span class="thumbnail__badge" aria-hidden="true">
                  {%- render 'icon-play' -%}
                </span>
              {%- endif -%}
              <button class="w100 h100 thumbnail global-media-settings--small media {% if section.settings.image_ratio == 'adapt' %}ratio{% else %}media--{{ section.settings.image_ratio }}{% endif %} {% if media.preview_image.aspect_ratio > 1 %}thumbnail--wide{% else %}thumbnail--narrow{% endif %}"
                aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                {% if media == product.selected_or_first_available_variant.featured_media or product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} aria-current="true"{% endif %}
                aria-controls="GalleryViewer-{{ section.id }}"
                aria-describedby="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                {% if section.settings.image_ratio == 'adapt' %} style="--ratio-percent:{{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;"{% endif %}
              >
                <img id="Thumbnail-{{ section.id }}-{{ forloop.index }}"
                  srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | image_url: width: 59 }} 59w,{% endif %}
                          {% if media.preview_image.width >= 118 %}{{ media.preview_image | image_url: width: 118 }} 118w,{% endif %}
                          {% if media.preview_image.width >= 84 %}{{ media.preview_image | image_url: width: 84 }} 84w,{% endif %}
                          {% if media.preview_image.width >= 168 %}{{ media.preview_image | image_url: width: 168 }} 168w,{% endif %}
                          {% if media.preview_image.width >= 130 %}{{ media.preview_image | image_url: width: 130 }} 130w,{% endif %}
                          {% if media.preview_image.width >= 260 %}{{ media.preview_image | image_url: width: 260 }} 260w{% endif %}"
                  src="{{ media | image_url: width: 84, height: 84 }}"
                  sizes="(min-width: 1200px) calc((1200px - 19.5rem) / 12), (min-width: 750px) calc((100vw - 16.5rem) / 8), calc((100vw - 8rem) / 5)"
                  alt="{{ media.alt | escape }}"
                  height="200"
                  width="200"
                  loading="lazy"
                >
              </button>
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
      <button type="button" class="product__slider-button--next slider-button flex flex-column justify-center align-center slider-button--next tap-area-icon{% if media_count <= 5 %} small-hide{% endif %}{% if section.settings.gallery_layout == 'stacked' or section.settings.gallery_layout == 'thumbnail' or section.settings.gallery_layout == 'columns' %} medium-hide large-up-hide{% else %}{% if media_count <= 4 %} medium-hide{% endif %}{% if media_count <= threshold_media_desktop %} large-up-hide{% endif %}{% endif %}" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="GalleryThumbnails-{{ section.id }}">{% render 'icon-caret-slider-next' %}</button>
    </{{ slider_tag }}>
  {%- endif -%}
</media-gallery>