{{ 'section-featured-blog-posts.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  {{ 'component-article-card.css' | asset_url | stylesheet_tag }}
</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    --blog-card-text-alignment: {{ section.settings.blog_card_text_alignment }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- render 'section-heading-styles' -%}
{%- endstyle -%}

{%- liquid
  if section.settings.blog != blank
    assign posts_displayed = section.settings.blog.articles_count
    if section.settings.post_limit <= section.settings.blog.articles_count
      assign posts_displayed = section.settings.post_limit
    endif
  else 
    assign posts_displayed = section.settings.post_limit
  endif
  assign section_additional_buttons = false
-%}
<div class="featured-blog section-{{ section.id }}-padding{% unless section.settings.enable_section_box_layout %} color-{{ section.settings.color_scheme }} gradient isolate{% endunless %}">
  <div class="page-width">
    {%- if section.settings.enable_section_box_layout -%}
      <div class="section__box color-{{ section.settings.color_scheme }} gradient isolate">
    {%- endif -%}
      {%- if section.settings.blog != blank
        and section.settings.show_view_all
        and section.settings.post_limit < section.settings.blog.articles_count -%}
        {%- capture section_additional_buttons -%}
          <a href="{{ section.settings.blog.url }}" class="button button--secondary button__section-heading button--semi-bold button--medium" id="ViewAllButton-{{ section.id }}" aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}">
            {%- render 'icon-view-all', add_classes: 'light' -%}
            <span>{{ 'sections.featured_blog.view_all' | t }}</span>
          </a>
        {%- endcapture -%}
      {%- endif -%}
      {%- render 'section-heading', section_additional_buttons: section_additional_buttons -%}
      <appear-animate-list data-delay="0.5">
        {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
          <ul class="featured-blog__posts articles-wrapper contains-card contains-card--article grid grid--1-col grid--2-col-desktop" role="list">
            <li class="blog__post grid__item article flex align-start appear-animate-item-in-list">
              {%- assign card_article = section.settings.blog.articles | first -%}
              {%- render 'article-card',
                blog: section.settings.blog, 
                layout: 'inside',
                article: card_article,
                media_height: 'full',
                custom_image: section.settings.large_featured_image,
                show_image: true,
                show_date: section.settings.large_show_date,
                show_author: section.settings.large_show_author,
                show_badge: section.settings.large_show_blog_card_badge
              -%}
            </li>
            {%- if section.settings.blog.articles.size > 1 -%}
              <li class="featured-blog__posts__vertical-col grid__item flex flex-column">
                {%- for card_article in section.settings.blog.articles limit: section.settings.post_limit -%}
                  {%- unless forloop.first -%}
                    {%- render 'article-card',
                      blog: section.settings.blog, 
                      layout: 'beside',
                      article: card_article,
                      media_height: section.settings.image_height,
                      show_image: section.settings.small_show_image,
                      show_date: section.settings.small_show_date,
                      show_author: section.settings.small_show_author,
                      heading_size: 'h5',
                      show_badge: section.settings.small_show_blog_card_badge,
                      wrapper_classes: 'appear-animate-item-in-list'
                    -%}
                  {%- endunless -%}
                {%- endfor -%}  
              </li>
            {%- endif -%}
          </ul>
        {%- else -%}
          <ul class="featured-blog__posts articles-wrapper contains-card contains-card--article grid grid--1-col grid--2-col-desktop" role="list">
            <li class="blog__post grid__item article flex align-start appear-animate-item-in-list">
              {%- render 'article-card-placeholder',
                layout: 'inside',
                media_height: 'full',
                custom_image: section.settings.large_featured_image,
                show_image: true,
                placeholder_image: 'blog-apparel-1' -%}
            </li>
            {%- assign posts_displayed = posts_displayed | minus: 1 -%}
            <li class="featured-blog__posts__vertical-col grid__item flex flex-column">
              {%- for i in (1..posts_displayed) -%}
                {%-liquid
                  assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1
                  assign placeholder_image = 'blog-apparel-' | append: placeholder_image_index
                -%}
                {%- render 'article-card-placeholder',
                  layout: 'beside',
                  media_height: section.settings.image_height,
                  show_image: section.settings.small_show_image,
                  placeholder_image: placeholder_image,
                  show_date: section.settings.small_show_date,
                  show_author: section.settings.small_show_author,
                  heading_size: 'h5',
                  wrapper_classes: 'appear-animate-item-in-list'
                -%}
              {%- endfor -%}
            </li>
          </ul>
        {%- endif -%}
      </appear-animate-list>
    {%- if section.settings.enable_section_box_layout -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog-posts.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 5,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "enable_section_box_layout",
      "label": "t:sections.all.enable_section_box_layout.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog-posts.settings.large_blog_card_header.content"
    },
    {
      "type": "image_picker",
      "id": "large_featured_image",
      "label": "t:sections.featured-blog-posts.settings.large_featured_image.label",
      "info": "t:sections.featured-blog-posts.settings.large_featured_image.info"
    },
    {
      "type": "checkbox",
      "id": "large_show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "large_show_author",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "large_show_blog_card_badge",
      "label": "t:sections.all.show_blog_card_badge.label",
      "info": "t:sections.all.show_blog_card_badge.info",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "blog_card_color_scheme",
      "default": "inverse",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-blog-posts.settings.small_blog_cards_header.content"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.featured-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.featured-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.featured-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.featured-blog.settings.image_height.label"
    },
    {
      "type": "checkbox",
      "id": "small_show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "small_show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "small_show_author",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "small_show_blog_card_badge",
      "label": "t:sections.all.show_blog_card_badge.label",
      "info": "t:sections.all.show_blog_card_badge.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog-posts.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
